<form autocomplete="off">
    <div class="form-group">
        <label>Nome do produto</label>
        <input type="text" name="nome" class="form-control" placeholder="Informe o nome do produto" [ngModel]="produto.nome">
    </div>
    <div class="form-group">
        <label>Preço do produto</label>
        <input type="number" name="preco" class="form-control" placeholder="Informe o preço do produto" [ngModel]="produto.preco">
    </div>
    <div class="form-group">
        <label>Quantidade do produto</label>
        <input type="number" name="quantidade" class="form-control" placeholder="Informe a quantidade" [ngModel]="produto.quantidade">
    </div>
    <div class="form-group">
        <label>Imagem do produto</label>
        <input type="text" name="img" class="form-control" placeholder="Informe o caminho da imagem do produto" [ngModel]="produto.img">
    </div>
</form>
