<!--<div class="home-banner">-->
<!--    <div class="img-banner"></div>-->
<!--</div>-->

<div class="container my-5">
    <div class="row">
        <div class="col-md mb-3 mb-md-0 d-flex align-items-center">
            <div>
                <h4>Produtos</h4>
                <p>Cachorro já é tudo de bom, mas alguma acessórios práticos e super fofos podem tornar as experiências com seu amigo de quatro patas ainda mais confortaveis e divertidas com os nossos produtos que são feitas de maneira artesanal.</p>

                <p>Duis et sagittis lectus, eu venenatis risus. Nullam tempor commodo placerat. Suspendisse vitae ornare elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, expedita.</p>

                <btn [label]="'confirir todos os produtos'" [routerLink]="['/produtos']"></btn>
            </div>
        </div>
        <div class="col-md d-flex align-items-center">
            <div>
                <img class="w-100" src="../../assets/img/img-01.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bgGray">
    <div class="container">
        <div class="row">
            <div class="col-md d-flex align-items-center order-last order-md-first">
                <div>
                    <img class="w-100" src="../../assets/img/img-03.jpg" alt="">
                </div>
            </div>
            <div class="col-md mb-3 mb-md-0 d-flex align-items-center">
                <div>
                    <h4>Sobre</h4>
                    <p>A ManyPets nasceu de um propósito especial: conectar cachorros e pessoas. A gente cria e desenvolve produtos de expressão, que ajudam a tornar a sua vida e a de seu cachorro muito mais cool.</p>

                    <p>Duis et sagittis lectus, eu venenatis risus. Nullam tempor commodo placerat. Suspendisse vitae ornare elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vero?</p>

                    <btn [label]="'conheça mais sobre a gente'" [routerLink]="['/sobre']"></btn>
                </div>
            </div>
        </div>
    </div>
</div>
