button {
    border: none;
    background-color: var(--orange);
    color: var(--black);

    padding: 8px 40px;

    transition: background-color .2s linear, color .2s linear;
}

button:hover {
    background-color: var(--dark-orange);
    color: var(--white);
}
